---
import { user } from '../data';
import Education from '../components/Education.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
import Section from '../components/Section.astro';
import WorkExperience from '../components/WorkExperience.astro';
---

<Layout title="Diego Chappedelaine">
  <main
    class="container mx-auto grid max-w-5xl grid-cols-1 gap-10 px-8 py-16 md:grid-cols-main md:gap-8"
  >
    <img
      class="h-32 w-32 rounded-full md:col-span-2 md:-ml-4"
      src="./profile-pic.jpg"
      alt={user.name}
    />
    <Header
      name={user.name}
      label={user.label}
      summary={user.summary}
      status={user.status}
    />
    <Profile
      email={user.email}
      location={user.location}
      phone={user.phone}
      socialProfiles={user.profiles}
    />
    <Section title="Expériences">
      <ul class="flex flex-col gap-8">
        {
          user.work.map((work) => (
            <li>
              <WorkExperience work={work} />
            </li>
          ))
        }
      </ul>
    </Section>
    <div
      class="flex justify-between gap-14 md:flex-col md:justify-start flex-wrap"
    >
      <Section title="Compétences">
        <ul>
          {user.skills.map((skill) => <li class="font-medium">{skill}</li>)}
        </ul>
      </Section>
      <Section title="Education">
        <ol class="flex flex-col gap-4">
          {
            user.education.map((education) => (
              <li class="font-medium">
                <Education education={education} />
              </li>
            ))
          }
        </ol>
      </Section>
      <Section className="hidden md:block" title="Divers">
        <ul>
          {user.miscs.map((interest) => <li>{interest}</li>)}
        </ul>
      </Section>
    </div>
  </main>
</Layout>

<style>
  :root {
  }
</style>
