---
import Checkbox from './Checkbox.astro';

export interface Props {
  name: string;
  label: string;
  summary: string[];
  status: string;
}

const { name, label, summary, status } = Astro.props;
---

<header class="flex flex-col gap-5">
  <h1 class="text-4xl font-bold">
    {name},<br />
    {label}
  </h1>
  <Checkbox
    label={status}
    checked={Boolean(status)}
    disabled
    className="hidden md:flex"
  />
  <p class="md:w-5/6">
    {
      summary.map((item, index) => {
        const addLineBreaks = index !== summary.length - 1;
        return (
          <>
            {item}
            {addLineBreaks && (
              <>
                <br />
                <br />
              </>
            )}
          </>
        );
      })
    }
  </p>
</header>
